<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phabroxy</title>
</head>
<body>
    <p>This is a simple tool to expose object names from <a href="https://phabricator.wikimedia.org">wikimedia's phabricator</a>, which exists because phabricator's API doesn't have anonymous acccess.</p>
    <p>Use it by making requests to: <code>/lookup/[OBJECT NAME]</code></p>
    <p>E.g. try <a href="https://phabroxy.toolforge.org/lookup/T1234">https://phabroxy.toolforge.org/lookup/T1234</a></p>
</body>
</html>